@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|VT323');
.App {
  text-align: center;
}

body {
  background-color: lightgrey;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.btn-default {
  margin: 0 1%;
}

#count {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}
h1 {
  font-size: 2em;
  font-family: 'Pacifico', cursive;
}

.navbar {
  border-radius: 0;
}

.row {
  margin: 2% 0;
}
